<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiscordSoundboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DiscordSoundboard.Properties.Settings>
            <setting name="Tester" serializeAs="String">
                <value>super usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper usereksuper userek</value>
            </setting>
            <setting name="ToolTip_DefaultOutputDevice" serializeAs="String">
                <value>Wybierz urządzenie do którego będzie wysyłany dźwięk. W standardowym przypadku powinien być to twój wirtualny mikrofon podłączony do Discorda.</value>
            </setting>
            <setting name="ToolTip_DefaultPlaybackDevice" serializeAs="String">
                <value>Wybierz urządzenie do którego będzie wysyłana lokalna kopia dźwięku. W standardowym przypadku powininny to być twoje domyślne głośniki.</value>
            </setting>
            <setting name="ToolTip_VolumeOfDefaultOutputDevice" serializeAs="String">
                <value>Ustaw głośność z jaką będzie odtwarzany dźwięk.</value>
            </setting>
            <setting name="ToolTip_VolumeOfDefaultPlaybackDevice" serializeAs="String">
                <value>Ustaw głośność z jaką będzie odtwarzany dźwięk lokalnie.</value>
            </setting>
            <setting name="OutputDeviceId" serializeAs="String">
                <value />
            </setting>
            <setting name="PlaybackDeviceId" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDeviceVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PlaybackDeviceVolume" serializeAs="String">
                <value>5</value>
            </setting>
        </DiscordSoundboard.Properties.Settings>
    </userSettings>
</configuration>